#header {
  background-image: url('../images/header.jpg'); 
  width: 960px;
  height: 80px;
}

#main {
  position: relative;
  margin: auto;
}

#container {
  width: 960px;
  height: 320px;
  margin: 0 auto;
}

#map, #dialog_map, #dialog_map_inside { 
  width: 960px; 
  height: 300px;
}
  
.message {
  background-color: #FFF;
  position:absolute; 
  padding:7px; 
  color:#111; 
  width:150px;
  height: 265px;
  overflow: hidden;
  font-size:12px;
  border-radius: 5px;
  
  -webkit-box-shadow: 1px 1px 10px #454545;
  -moz-box-shadow: 1px 1px 10px #454545;
  box-shadow: 1px 1px 10px #454545;    
}

  .message a {
    padding: 0;
    float: left;
  }
  
  .message span {
    float: right;
    cursor: pointer;
    margin: 0 8px 0 0; 
  }
  
  .message p {
    float: left;
    clear: both;
    padding: 10px;
  }

  .message img {
    border-radius: 5px;
    width: 61px;
    height: 61px;
    margin: 0 0px 10px 10px;
  }

/* UI STUFF */

h1 {
  font-size: 20px;
  margin: 20px 0;
}

th, td, h1, a {
  padding: 5px;
}

#show_custom_map {
  border-radius: 5px; 
  background-color: #CFCFCF;
  font-size: 14px;
  font-weight: bold;
  color: #111;
  padding: 10px;
  margin-top: 10px; 
  float:left;
  cursor: pointer;
  
  background: #f9fcf7;
  background: -moz-linear-gradient(top, #f9fcf7 0%, #f5f9f0 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9fcf7), color-stop(100%,#f5f9f0));
  background: -webkit-linear-gradient(top, #f9fcf7 0%,#f5f9f0 100%);
  background: -o-linear-gradient(top, #f9fcf7 0%,#f5f9f0 100%);
  background: -ms-linear-gradient(top, #f9fcf7 0%,#f5f9f0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9fcf7', endColorstr='#f5f9f0',GradientType=0 );
  background: linear-gradient(top, #f9fcf7 0%,#f5f9f0 100%);    
}

#places_types {
  margin-top: 0;
  list-style: none;
  margin-top: 10px;
  float: left;
}

#places_types li {
  float:left;
  margin: 2px 4px;
}

#places_types li a.selected {
  font-weight: bold;
  color: #111;
  
  background: #f6f8f9; /* Old browsers */
  background: -moz-linear-gradient(top, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f8f9), color-stop(50%,#e5ebee), color-stop(51%,#d7dee3), color-stop(100%,#f5f7f9)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(top, #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* W3C */ 
}

#places_types li a {
  width: 130px;
  display: block;
  margin: 2px 0px;
  padding: 6px 10px;
  text-decoration: none;
  border-radius: 4px;

  background: #f9fcf7;
  background: -moz-linear-gradient(top, #f9fcf7 0%, #f5f9f0 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9fcf7), color-stop(100%,#f5f9f0));
  background: -webkit-linear-gradient(top, #f9fcf7 0%,#f5f9f0 100%);
  background: -o-linear-gradient(top, #f9fcf7 0%,#f5f9f0 100%);
  background: -ms-linear-gradient(top, #f9fcf7 0%,#f5f9f0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9fcf7', endColorstr='#f5f9f0',GradientType=0 );
  background: linear-gradient(top, #f9fcf7 0%,#f5f9f0 100%);  
}

.clear {
  clear:both;
 }
 
 #tabs-1 h3 {
   padding: 12px 5px 0;
 }